<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><a href="/">DEFAULT-STORE</a></h1>
    <h1>Ops! Não encontramos esta página... Erro 404!</h1>
</body>

</html>