<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% include header.ejs %>
    <p>Ops! Erro 404, página não encontrada... </p>
    <p><a href="/">Voltar</a></p>
</body>

</html>