<table class="table table-responsive table-condensed table-login">
    <tbody>
        <form action="/login" method="POST">
            <tr>
                <td style="text-align: right; width: 40%;">Usuário:</td>
                <td style="text-align: left; width: 60%;"><input type="text" name="username" value="ghogus" required></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 40%;">Senha:</td>
                <td style="text-align: left; width: 60%;"><input type="password" name="password" value="1rwbeKKw1" required></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><input type="submit" value="Login" class="btn btn-md btn-primary"></td>
            </tr>
        </form>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" style="text-align: center;">
                <!-- <a href="#">Esqueci minha senha</a> |  --><a href="/registro">Registrar-se</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <% if(message) { %>
                <p><label style="color:Red"><b><%= message %></b></label></p>
                <%}%>
            </td>
        </tr>
    </tfoot>
</table>