<div class="col-md-12 brand-site">
    <p>Parabéns <%= firstName %>, seu cadastro foi efetuado com sucesso!</p>
    <p>Acesse a sua conta utilizando o e-mail: <b><%= email %></b></p>
    <p>e também a senha informada durante o seu cadastro,</p>
    <p>obrigado por se cadastrar na <b><a href="/"><%= title %></a></b>, boas compras!</p>
</div>
