<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/login">LOGIN</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/registro">CADASTRAR-SE</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="/contato">CONTATO</a>
    </li> -->
</ul>