<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      CADASTROS
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/clientes">CLIENTES</a>
      <a class="dropdown-item" href="/produtos/new">PRODUTO</a>
      <a class="dropdown-item" href="/produtos/list">PRODUTOS</a>
      <a class="dropdown-item" href="/usuarios">USUÁRIOS</a>
    </div>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="/contato">CONTATO</a>
  </li> -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      CONTA
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/minha-conta">MINHA CONTA</a>
      <a class="dropdown-item" href="/meus-pedidos">MEUS PEDIDOS</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout">SAIR</a>
    </div>
  </li>
</ul>